# dependencies
node_modules/

# Next.js
.next/
out/

# env and secrets
.env
.env*.local

# logs / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# local scratch
temp_files/
